@model EmployeeLoginModel
@{
    Layout = "_LayoutLogout";
}

@if(TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<h1>Login</h1>
<form asp-controller="RegisterLogin" asp-action="ConfirmeLogin">
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" id="Name">
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="text" asp-for="Email" class="form-control" id="Email" >
        @Html.ValidationMessageFor(x => x.Email)
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" asp-for="Password" class="form-control" id="Password">
        @Html.ValidationMessageFor(x => x.Password)
    </div>

     <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-outline-primary" asp-controller="RegisterLogin" asp-action="EnterLoginPage">SIGN UP/REGISTER</button>
        <P>IF YOU HAVEN'T A ACCOUNT REGISTED IN THE SYSTEM</P>
       <button type="submit" class="btn btn-primary">Enter</button>
     </div>

</form>
